@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

body {
  font-family: "Poppins";
  background-color: #f4f4f4;
  padding: 40px;
  color: #333;
  background-image: url("./img/bg-img-4.jpg");
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 768px;
  margin: 0 auto 300px;
  background-color: #f4f4f4;
  padding: 20px 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-family: "Dancing Script";
  font-weight: bold;
  text-transform: capitalize;
  font-size: 45px;
}

h2 {
  margin-bottom: 10px;
  font-family: "Roboto";
}

p {
  margin: 10px 0;
  font-family: "Open Sans";
}

button {
  background-color: #000000;
  color: #fff;
  padding: 6px 15px;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #555;
}

.todo {
 background-color: #fff;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 padding: 10px;
 margin-bottom: 10px;
 border-radius: 5px;
 display: flex;
 justify-content: space-between;
 align-items: center; 
}

.complete {
  background-color: #5cb85c;
}

.remove {
  background-color: #d9534f;
}

.todo-form {
  padding-bottom: 1.5rem;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 96.7%;
}

select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.filter, .search {
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-optinos div {
  flex: 1 1 0;
}